<div class="group relative cursor-pointer" routerLink="/product/{{product.id}}">
  <div class="min-h-80 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
    <img src="./assets/images/{{product.gender}}/{{product.imageBase}}{{product.color}}.webp" alt="" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
  </div>
  <div class="mt-4 flex justify-between">
    <div>
      <h3 class="text-sm text-gray-700">
        <a class="capitalize">
          <span aria-hidden="true" class="absolute inset-0"></span>
          {{product.brand}}
        </a>
      </h3>
      <p class="mt-1 text-sm text-gray-500 capitalize">{{product.model}}</p>
    </div>
    <p class="text-sm font-medium text-cyan-900">{{product.price | currency}}</p>
  </div>
</div>
