<footer class="text-center bg-cyan-900 text-gray-300 sticky top-[100vh]">
  <div class="container px-6 pt-6 mx-auto">
    <div>
      <form>
        <div class="grid md:grid-cols-3 gird-cols-1 gap-4 flex justify-center items-center">
          <div class="md:ml-auto md:mb-6">
            <p>
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <div class="md:mb-6">
            <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal text-cyan-900 rounded-md m-0 focus:outline-none" placeholder="Email address"/>
          </div>
          <div class="md:mr-auto mb-6">
            <button type="submit" class="inline-block rounded-md font-medium bg-gray-300 text-cyan-800 p-2">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="mb-6 flex divide-x justify-center">
      <div class="px-2"><a>Company Info</a></div>
      <div class="px-2"><a>Policies</a></div>
      <div class="px-2"><a>Contact us</a></div>
    </div>
  </div>
  <div class="text-center p-4">
    2022
    <a class="text-white" href="https://github.com/Zimeek/">Michał Szymczyk</a>
  </div>
</footer>
