<div class="mx-auto max-w-2xl py-16 px-4 sm:py-20 sm:px-6 lg:max-w-7xl lg:px-8" *ngIf="featuredProducts$ | async as featuredProducts">
  <h2 class="text-2xl font-bold tracking-tight text-gray-900">Our featured products</h2>
  <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
    <ng-container *ngFor="let product of featuredProducts">
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="./assets/images/{{product.gender}}/{{product.imageBase}}{{product.color}}.webp" alt="" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a class="capitalize" href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                {{product.brand}}
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500 capitalize">{{product.model}}</p>
          </div>
          <p class="text-sm font-medium text-cyan-900">${{product.price}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
