<ng-container *ngIf="product$ | async as product; else loading">
  <li class="flex py-6">
    <div class="h-32 w-28 flex-shrink-0 overflow-hidden aspect-none rounded-md">
      <img src="./assets/images/{{product.gender}}/{{product.imageBase}}{{item.color}}.webp" alt="" class="h-full w-full object-cover object-center">
    </div>
    <div class="ml-4 flex flex-1 flex-col">
      <div>
        <div class="flex justify-between text-base font-medium text-gray-900">
          <h3>
            <a class="capitalize">{{product.brand}}</a>
          </h3>
          <p class="ml-4">${{product.price}}</p>
        </div>
        <p class="mt-1 text-sm text-gray-500 capitalize">{{product.model}}</p>
      </div>
      <div class="flex flex-1 items-end justify-between text-sm">
        <div class="flex inline items-center">
          <button type="button" class="rounded-full bg-gray-300 p-1" (click)="onRemoveItemQuantity()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
            </svg>

          </button>
          <p class="text-gray-500 mx-2">Qty: {{item.quantity}}</p>
          <button type="button" class="rounded-full bg-gray-300 p-1" (click)="onAddItemQuantity()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
        </div>
        <div class="flex">
          <button type="button" class="font-medium text-cyan-900 hover:text-cyan-800" (click)="onRemoveItem()">Remove</button>
        </div>
      </div>
    </div>
  </li>
</ng-container>

<ng-template #loading>
  <div class="flex items-center justify-center h-32 w-full my-6 aspect-none rounded-md">
    <div class="max-w-sm w-full mx-auto">
      <div class="animate-pulse flex space-x-1">
        <div class="rounded-md bg-gray-200 h-32 w-28"></div>
        <div class="flex-1 flex space-y-6 py-2 px-4 flex-col justify-between inset-0">
          <div class="space-y-3">
            <div class="grid grid-cols-3 gap-y-4 gap-x-2">
              <div class="h-2 bg-gray-200 rounded col-span-2"></div>
              <div class="h-2 bg-gray-200 rounded col-span-1"></div>
            </div>
            <div class="grid grid-cols-3 gap-y-4 gap-x-2">
              <div class="h-2 bg-gray-200 col-span-2 rounded"></div>
            </div>
          </div>
          <div>
            <div class="grid grid-cols-3 gap-y-4 gap-x-2">
              <div class="h-2 bg-gray-200 rounded col-span-2"></div>
              <div class="h-2 bg-gray-200 rounded col-span-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
