<h1 class="text-2xl mb-4">Contact information</h1>
<div class="grid grid-cols-1 gap-3">
  <label for="email">
    <span class="font-medium">Email address</span>
    <input type="text" class="border focus:border-gray-400 border-gray-300 w-full p-1 mt-1 rounded-md focus:outline-none" id="email">
  </label>
  <label for="phone">
    <span class="font-medium">Phone number</span>
    <input type="text" class="border focus:border-gray-400 border-gray-300 w-full p-1 mt-1 rounded-md focus:outline-none" id="phone">
  </label>
</div>
