<nav class="bg-cyan-900 sticky top-0 z-10">
  <div class="mx-auto max-w-7xl py-2 px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center pl-2 sm:hidden">
        <button type="button" class="rounded-full bg-gray-300 text-cyan-800 p-2" id="mobile-menu-toggle">
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="block h-12 w-auto" src="./assets/images/logo-color.svg" alt="ElegantStore logo">
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a class="rounded-md px-3 py-2 text-lg font-medium text-white bg-cyan-900 hover:bg-cyan-800 transition cursor-pointer" routerLink="/">Home</a>
            <a class="rounded-md px-3 py-2 text-lg font-medium text-white bg-cyan-900 hover:bg-cyan-800 transition cursor-pointer" routerLink="/products/men">Men</a>
            <a class="rounded-md px-3 py-2 text-lg font-medium text-white bg-cyan-900 hover:bg-cyan-800 transition cursor-pointer" routerLink="/products/women">Women</a>
          </div>
        </div>
      </div>
      <div class="absolute flex inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <span class="text-gray-300 font-medium mr-3">{{cartTotal$ | async | currency}}</span>
        <button type="button" class="rounded-full bg-gray-300 text-cyan-800 p-2 transition transform ease-in-out hover:scale-110 cart-toggle">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="hidden sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <a class="text-gray-300 bg-cyan-900 hover:bg-cyan-800 block px-3 py-2 rounded-md text-base font-medium" routerLink="/">Home</a>
      <a class="text-gray-300 bg-cyan-900 hover:bg-cyan-800 block px-3 py-2 rounded-md text-base font-medium" routerLink="/products/men">Men</a>
      <a class="text-gray-300 bg-cyan-900 hover:bg-cyan-800 block px-3 py-2 rounded-md text-base font-medium" routerLink="/products/women">Women</a>
    </div>
  </div>
</nav>
