<h1 class="text-2xl mb-4">Shipping information</h1>
<form class="grid grid-cols-1 sm:grid-cols-4 gap-3" [formGroup]="shippingForm" #form="ngForm">
  <label class="sm:col-span-2" for="firstName">
    <span class="font-medium">First name</span>
    <input type="text" class="border focus:border-gray-400 border-gray-300 w-full p-1 mt-1 rounded-md focus:outline-none" id="firstName" formControlName="firstName">
    <div *ngIf="shippingForm.controls['firstName'].invalid && shippingForm.controls['firstName'].dirty">
      <span class="text-red-800 font-small" *ngIf="shippingForm.controls['firstName'].errors?.['required']">First name cannot be empty.</span>
      <span class="text-red-800 font-small" *ngIf="shippingForm.controls['firstName'].errors?.['pattern']">First name is invalid.</span>
    </div>
  </label>
  <label class="sm:col-span-2" for="lastName">
    <span class="font-medium">Last name</span>
    <input type="text" class="border focus:border-gray-400 border-gray-300 w-full p-1 mt-1 rounded-md focus:outline-none" id="lastName" formControlName="lastName">
    <div *ngIf="shippingForm.controls['lastName'].invalid && shippingForm.controls['lastName'].dirty">
      <span class="text-red-800 font-small" *ngIf="shippingForm.controls['lastName'].errors?.['required']">Last name cannot be empty.</span>
      <span class="text-red-800 font-small" *ngIf="shippingForm.controls['lastName'].errors?.['pattern']">Last name is invalid.</span>
    </div>
  </label>
  <label class="sm:col-span-2" for="address">
    <span class="font-medium">Address</span>
    <input type="text" class="border focus:border-gray-400 border-gray-300 w-full p-1 mt-1 rounded-md focus:outline-none" id="address" formControlName="address">
    <div *ngIf="shippingForm.controls['firstName'].invalid && shippingForm.controls['address'].dirty">
      <span class="text-red-800 font-small" *ngIf="shippingForm.controls['address'].errors?.['required']">Address cannot be empty.</span>
      <span class="text-red-800 font-small" *ngIf="shippingForm.controls['address'].errors?.['pattern']">Address is invalid.</span>
    </div>
  </label>
  <label class="sm:col-span-2" for="city">
    <span class="font-medium">City</span>
    <input type="text" class="border focus:border-gray-400 border-gray-300 w-full p-1 mt-1 rounded-md focus:outline-none" id="city" formControlName="city">
    <div *ngIf="shippingForm.controls['city'].invalid && shippingForm.controls['city'].dirty">
      <span class="text-red-800 font-small" *ngIf="shippingForm.controls['city'].errors?.['required']">City cannot be empty.</span>
      <span class="text-red-800 font-small" *ngIf="shippingForm.controls['city'].errors?.['pattern']">City is invalid.</span>
    </div>
  </label>
  <label class="sm:col-span-2 lg:col-span-3" for="province">
    <span class="font-medium">Province</span>
    <select class="border focus:border-gray-400 border-gray-300 w-full p-1 mt-1 rounded-md focus:outline-none" id="province" formControlName="province">
      <option>Alberta</option>
      <option>British Columbia</option>
      <option>Manitoba</option>
      <option>New Brunswick</option>
      <option>Newfoundland and Labrador</option>
      <option>Northwest Territories</option>
      <option>Nova Scotia</option>
      <option>Nunavut</option>
      <option>Ontario</option>
      <option>Prince Edward Island</option>
      <option>Quebec</option>
      <option>Saskatchewan</option>
      <option>Yukon</option>
    </select>
    <span class="text-red-800 font-small" *ngIf="shippingForm.controls['province'].invalid && (form.submitted || shippingForm.controls['province'].dirty)">Enter state</span>
  </label>
  <label class="sm:col-span-2 lg:col-span-1"  for="postalCode">
    <span class="font-medium">Postal code</span>
    <input type="text" class="border focus:border-gray-400 border-gray-300 w-full p-1 mt-1 rounded-md focus:outline-none" id="postalCode" formControlName="postalCode">
    <div *ngIf="shippingForm.controls['postalCode'].invalid && shippingForm.controls['postalCode'].dirty">
      <span class="text-red-800 font-small" *ngIf="shippingForm.controls['postalCode'].errors?.['required']">Postal code cannot be empty.</span>
      <span class="text-red-800 font-small" *ngIf="shippingForm.controls['postalCode'].errors?.['pattern']">Postal code is invalid.</span>
    </div>
  </label>
</form>
