<h1 class="text-2xl mb-4">Payment</h1>
<div class="grid grid-cols-1 sm:grid-cols-4 gap-3">
  <label class="col-span-4" for="card">
    <span class="font-medium">Card number</span>
    <input type="text" class="border focus:border-gray-400 border-gray-300 w-full p-1 mt-1 rounded-md focus:outline-none" id="card">
  </label>
  <label class="col-span-3" for="expiration">
    <span class="font-medium">Expiration date</span>
    <input type="text" class="border focus:border-gray-400 border-gray-300 w-full p-1 mt-1 rounded-md focus:outline-none" id="expiration">
  </label>
  <label for="cvc">
    <span class="font-medium">CVC</span>
    <input type="text" class="border focus:border-gray-400 border-gray-300 w-full p-1 mt-1 rounded-md focus:outline-none" id="cvc">
  </label>
</div>
